Repository howljs/react-native-calendar-kit: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types

lint:
  run: yarn lint {staged_files}

types:
  run: yarn tsc --noEmit

chore: update version
  packages/react-native-calendar-kit/package.json
Due: types

fix elevation on Android
  packages/react-native-calendar-kit/src/components/TimeColumn.tsx
Due: lint, types

feat: add possibility to add custom color for each border and add possibility to hide TimeColumn vertical right bar
  apps/docs/docs/api/calendar-body.md
  apps/docs/docs/api/hooks/useBody.md
  apps/docs/docs/guides/theme.md
  apps/docs/versioned_docs/version-1.x/guides/other-props.md
  packages/react-native-calendar-kit/src/CalendarBody.tsx
  packages/react-native-calendar-kit/src/CalendarHeader.tsx
  packages/react-native-calendar-kit/src/CalendarKit.tsx
  packages/react-native-calendar-kit/src/components/MultiDayBarItem.tsx
  packages/react-native-calendar-kit/src/components/ResourceHeaderItem.tsx
  packages/react-native-calendar-kit/src/components/SingleDayBarItem.tsx
  packages/react-native-calendar-kit/src/components/TimeColumn.tsx
  packages/react-native-calendar-kit/src/components/TimelineBoard/UnavailableHours.tsx
  packages/react-native-calendar-kit/src/context/BodyContext.tsx
  packages/react-native-calendar-kit/src/types.ts
Due: lint, types

fix: unavailable hours are not displayed properly when forcing timezone
  packages/react-native-calendar-kit/src/context/UnavailableHoursProvider.tsx
Due: lint, types

feat: update renderResource prop to include index parameter
  packages/react-native-calendar-kit/src/components/ResourceHeaderItem.tsx
Due: lint, types

fix: update docs about index for renderResources
  apps/docs/docs/guides/resources.md
Due: none

fix: make index parameter optional in renderResource prop
  packages/react-native-calendar-kit/src/components/ResourceHeaderItem.tsx
Due: lint, types

fix: enhance drag event gesture to activate after long press
  packages/react-native-calendar-kit/src/CalendarBody.tsx
Due: lint, types

fix: adjust drag event gesture activation timing for better responsiveness
  packages/react-native-calendar-kit/src/CalendarBody.tsx
Due: lint, types

feat: define `maxResourcesColumnsPerPage` prop for `<CalendarContainer />` component API
  packages/react-native-calendar-kit/src/types.ts
Due: lint, types

feat: update example to introduce `maxResourcesColumnsPerPage` UI
  apps/example/app/(drawer)/_layout.tsx
  apps/example/app/(drawer)/index.tsx
Due: lint, types

fix: migrate to new calendar list
  packages/react-native-calendar-kit/src/CalendarContainer.tsx
  packages/react-native-calendar-kit/src/components/CalendarListView/index.tsx
  packages/react-native-calendar-kit/src/context/CalendarProvider.tsx
  packages/react-native-calendar-kit/src/hooks/useDragEventGesture.tsx
  packages/react-native-calendar-kit/src/hooks/useDragToCreateGesture.tsx
  packages/react-native-calendar-kit/src/hooks/usePinchToZoom.tsx
  packages/react-native-calendar-kit/src/service/CalendarList/HorizontalVirtualizedList.tsx
  packages/react-native-calendar-kit/src/service/CalendarList/index.tsx
Due: lint, types

fix: all-day events calculation
  packages/react-native-calendar-kit/src/utils/eventUtils.ts
Due: lint, types

fix: lint issue
  packages/react-native-calendar-kit/src/components/DraggableEvent.tsx
  packages/react-native-calendar-kit/src/context/DragEventProvider.tsx
  packages/react-native-calendar-kit/src/context/LayoutProvider.tsx
  packages/react-native-calendar-kit/src/context/NowIndicatorProvider.tsx
  packages/react-native-calendar-kit/src/service/recyclerlistview/core/RecyclerListView.tsx
Due: lint, types

chore: release 2.3.0-beta.0
  packages/react-native-calendar-kit/package.json
Due: types

fix: fix and remove recyclerlistview component
  packages/react-native-calendar-kit/src/service/CalendarList/HorizontalVirtualizedList.tsx
  packages/react-native-calendar-kit/src/service/CalendarList/View.tsx
  packages/react-native-calendar-kit/src/service/CalendarList/index.tsx
  packages/react-native-calendar-kit/src/service/recyclerlistview/README.MD
  packages/react-native-calendar-kit/src/service/recyclerlistview/core/LayoutManager.ts
  packages/react-native-calendar-kit/src/service/recyclerlistview/core/LayoutProvider.ts
  packages/react-native-calendar-kit/src/service/recyclerlistview/core/RecyclerListView.tsx
  packages/react-native-calendar-kit/src/service/recyclerlistview/core/ScrollComponent.tsx
  packages/react-native-calendar-kit/src/service/recyclerlistview/core/ViewRenderer.tsx
  packages/react-native-calendar-kit/src/service/recyclerlistview/core/ViewabilityTracker.ts
  packages/react-native-calendar-kit/src/service/recyclerlistview/core/VirtualRenderer.ts
  packages/react-native-calendar-kit/src/service/recyclerlistview/index.ts
  packages/react-native-calendar-kit/src/service/recyclerlistview/utils/ComponentCompat.ts
  packages/react-native-calendar-kit/src/service/recyclerlistview/utils/RecycleItemPool.ts
  packages/react-native-calendar-kit/src/service/recyclerlistview/utils/utils.ts
  yarn.lock
Due: lint, types

docs: add documentation to docs app for scrollable resources - extend `resources.md` with a guid and visual gif - extend API docs (useCalendar & CalendarContainer)
  apps/docs/docs/api/calendar-container.md
  apps/docs/docs/api/hooks/useCalendar.md
  apps/docs/docs/assets/max-resources-columns-per-page.gif
  apps/docs/docs/guides/resources.md
Due: none

chore: release 2.3.0
  packages/react-native-calendar-kit/package.json
Due: types

fix: Overlapping calendar events are not evenly split
  packages/react-native-calendar-kit/src/utils/eventUtils.ts
Due: lint, types

feat: [minor] add allowHorizontalSwipe
  packages/react-native-calendar-kit/src/CalendarBody.tsx
  packages/react-native-calendar-kit/src/CalendarContainer.tsx
  packages/react-native-calendar-kit/src/CalendarHeader.tsx
  packages/react-native-calendar-kit/src/context/CalendarProvider.tsx
  packages/react-native-calendar-kit/src/types.ts
Due: lint, types

feat: support horizontal scrolling for calendar with multiple resources
  apps/example/app/(drawer)/index.tsx
  apps/example/components/Header.tsx
  apps/example/components/ResourceNavigation.tsx
  packages/react-native-calendar-kit/src/CalendarBody.tsx
  packages/react-native-calendar-kit/src/CalendarContainer.tsx
  packages/react-native-calendar-kit/src/CalendarHeader.tsx
  packages/react-native-calendar-kit/src/components/BodyItem.tsx
  packages/react-native-calendar-kit/src/components/BodyResourceItem.tsx
  packages/react-native-calendar-kit/src/components/CalendarListView/index.tsx
  packages/react-native-calendar-kit/src/components/DraggingEvent.tsx
  packages/react-native-calendar-kit/src/components/DraggingHour.tsx
  packages/react-native-calendar-kit/src/components/EventItem.tsx
  packages/react-native-calendar-kit/src/components/Events.tsx
  packages/react-native-calendar-kit/src/components/HeaderResourceItem.tsx
  packages/react-native-calendar-kit/src/components/NowIndicator.tsx
  packages/react-native-calendar-kit/src/components/Resource/ResourceBoard.tsx
  packages/react-native-calendar-kit/src/components/Resource/ResourceContainers.tsx
  packages/react-native-calendar-kit/src/components/Resource/ResourceDraggableEvent.tsx
  packages/react-native-calendar-kit/src/components/Resource/ResourceListView.tsx
  packages/react-native-calendar-kit/src/components/Resource/ResourceOverlay.tsx
  packages/react-native-calendar-kit/src/components/Resource/UnavailableHoursByResource.tsx
  packages/react-native-calendar-kit/src/components/ResourceHeaderItem.tsx
  packages/react-native-calendar-kit/src/components/TimelineBoard/UnavailableHours.tsx
  packages/react-native-calendar-kit/src/components/TimelineBoard/index.tsx
  packages/react-native-calendar-kit/src/context/ActionsProvider.tsx
  packages/react-native-calendar-kit/src/context/BodyContext.tsx
  packages/react-native-calendar-kit/src/context/CalendarProvider.tsx
  packages/react-native-calendar-kit/src/context/DayBarContext.tsx
  packages/react-native-calendar-kit/src/context/DragEventProvider.tsx
  packages/react-native-calendar-kit/src/context/VisibleDateProvider.tsx
  packages/react-native-calendar-kit/src/hooks/useDragEventGesture.tsx
  packages/react-native-calendar-kit/src/hooks/useDragToCreateGesture.tsx
  packages/react-native-calendar-kit/src/index.tsx
  packages/react-native-calendar-kit/src/service/CalendarList/index.tsx
  packages/react-native-calendar-kit/src/types.ts
Due: lint, types

chore: update docs
  .github/FUNDING.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  README.md
  apps/docs/docs/guides/methods.md
  apps/docs/docs/guides/resources.md
Due: none

chore: release 2.4.0
  packages/react-native-calendar-kit/package.json
Due: types

fix: laggy scrolling on Android (new architecture)
  apps/example/app/(drawer)/index.tsx
  apps/example/components/CustomUnavailableHour.tsx
  packages/react-native-calendar-kit/src/components/Resource/ResourceBoard.tsx
  packages/react-native-calendar-kit/src/components/TimeColumn.tsx
  packages/react-native-calendar-kit/src/components/TimelineBoard/HorizontalLine.tsx
  packages/react-native-calendar-kit/src/components/TimelineBoard/UnavailableHours.tsx
  packages/react-native-calendar-kit/src/components/TimelineBoard/index.tsx
Due: lint, types

feat: add link scroll group
  packages/react-native-calendar-kit/src/CalendarBody.tsx
  packages/react-native-calendar-kit/src/CalendarContainer.tsx
  packages/react-native-calendar-kit/src/CalendarHeader.tsx
  packages/react-native-calendar-kit/src/components/CalendarListView/index.tsx
  packages/react-native-calendar-kit/src/components/Resource/ResourceListView.tsx
  packages/react-native-calendar-kit/src/constants.tsx
  packages/react-native-calendar-kit/src/context/CalendarProvider.tsx
  packages/react-native-calendar-kit/src/context/DragEventProvider.tsx
  packages/react-native-calendar-kit/src/hooks/useLinkedScrollGroup/index.ts
  packages/react-native-calendar-kit/src/hooks/useLinkedScrollGroup/types.ts
  packages/react-native-calendar-kit/src/hooks/useLinkedScrollGroup/useLinkedScrollGroup.tsx
  packages/react-native-calendar-kit/src/hooks/useLinkedScrollGroup/useLinkedScrollGroup.web.tsx
  packages/react-native-calendar-kit/src/hooks/useSyncedList.tsx
  packages/react-native-calendar-kit/src/service/CalendarList/index.tsx
Due: lint, types

feat: add pinch to zoom on web
  packages/react-native-calendar-kit/src/CalendarBody.tsx
  packages/react-native-calendar-kit/src/CalendarContainer.tsx
  packages/react-native-calendar-kit/src/CalendarHeader.tsx
  packages/react-native-calendar-kit/src/components/CalendarListView/index.tsx
  packages/react-native-calendar-kit/src/components/Resource/ResourceListView.tsx
  packages/react-native-calendar-kit/src/constants.tsx
  packages/react-native-calendar-kit/src/hooks/useLinkedScrollGroup/types.ts
  packages/react-native-calendar-kit/src/hooks/useLinkedScrollGroup/useLinkedScrollGroup.web.tsx
  packages/react-native-calendar-kit/src/hooks/usePinchToZoom.tsx
  packages/react-native-calendar-kit/src/service/CalendarList/index.tsx
  packages/react-native-calendar-kit/src/types.ts
Due: lint, types

chore: release 2.5.0
  packages/react-native-calendar-kit/package.json
Due: types

fix: fix synced list
  packages/react-native-calendar-kit/src/hooks/useSyncedList.tsx
  packages/react-native-calendar-kit/src/service/CalendarList/index.tsx
Due: lint, types

fix: Reduce reanimated value
  apps/docs/docs/api/hooks/useBody.md
  apps/docs/docs/api/hooks/useCalendar.md
  apps/docs/docs/api/hooks/useHeader.md
  packages/react-native-calendar-kit/src/CalendarBody.tsx
  packages/react-native-calendar-kit/src/CalendarContainer.tsx
  packages/react-native-calendar-kit/src/CalendarHeader.tsx
  packages/react-native-calendar-kit/src/components/DraggableEvent.tsx
  packages/react-native-calendar-kit/src/components/DraggingEvent.tsx
  packages/react-native-calendar-kit/src/components/EventItem.tsx
  packages/react-native-calendar-kit/src/components/Events.tsx
  packages/react-native-calendar-kit/src/components/MultiDayBarItem.tsx
  packages/react-native-calendar-kit/src/components/NowIndicator.tsx
  packages/react-native-calendar-kit/src/components/Resource/ResourceBoard.tsx
  packages/react-native-calendar-kit/src/components/Resource/ResourceDraggableEvent.tsx
  packages/react-native-calendar-kit/src/components/SingleDayBarItem.tsx
  packages/react-native-calendar-kit/src/components/TimelineBoard/OutOfRangeView.tsx
  packages/react-native-calendar-kit/src/components/TimelineBoard/UnavailableHours.tsx
  packages/react-native-calendar-kit/src/components/TimelineBoard/VerticalLine.tsx
  packages/react-native-calendar-kit/src/components/TimelineBoard/index.tsx
  packages/react-native-calendar-kit/src/context/BodyContext.tsx
  packages/react-native-calendar-kit/src/context/CalendarProvider.tsx
  packages/react-native-calendar-kit/src/context/DayBarContext.tsx
  packages/react-native-calendar-kit/src/context/DragEventProvider.tsx
  packages/react-native-calendar-kit/src/hooks/useDragEventGesture.tsx
  packages/react-native-calendar-kit/src/hooks/useDragToCreateGesture.tsx
  packages/react-native-calendar-kit/src/types.ts
  packages/react-native-calendar-kit/src/utils/eventUtils.ts
  yarn.lock
Due: lint, types

chore: release 2.5.1
  packages/react-native-calendar-kit/package.json
Due: types

fix: calendar reloads on web on tab change #221
  packages/react-native-calendar-kit/src/context/LayoutProvider.tsx
  packages/react-native-calendar-kit/src/service/CalendarList/index.tsx
Due: lint, types

chore: release 2.5.2
  packages/react-native-calendar-kit/package.json
Due: types

chore: upgrade to expo 54
  apps/example/android/app/build.gradle
  apps/example/android/app/src/main/AndroidManifest.xml
  apps/example/android/app/src/main/java/com/howljs/calendarkitexample/MainApplication.kt
  apps/example/android/app/src/main/res/values/styles.xml
  apps/example/android/build.gradle
  apps/example/android/gradle.properties
  apps/example/android/gradle/wrapper/gradle-wrapper.jar
  apps/example/android/gradle/wrapper/gradle-wrapper.properties
  apps/example/android/gradlew
  apps/example/android/gradlew.bat
  apps/example/app.json
  apps/example/app/(drawer)/index.tsx
  apps/example/ios/Podfile
  apps/example/ios/Podfile.lock
  apps/example/ios/calendarkitexample.xcodeproj/project.pbxproj
  apps/example/ios/calendarkitexample/Images.xcassets/SplashScreenLegacy.imageset/Contents.json
  apps/example/ios/calendarkitexample/Images.xcassets/SplashScreenLegacy.imageset/image.png
  apps/example/ios/calendarkitexample/Images.xcassets/SplashScreenLegacy.imageset/image@2x.png
  apps/example/ios/calendarkitexample/Images.xcassets/SplashScreenLegacy.imageset/image@3x.png
  apps/example/ios/calendarkitexample/Info.plist
  apps/example/ios/calendarkitexample/SplashScreen.storyboard
  apps/example/metro.config.js
  apps/example/package.json
  yarn.lock
Due: lint, types

fix: #225 collapsing issue
  packages/react-native-calendar-kit/src/CalendarHeader.tsx
  packages/react-native-calendar-kit/src/components/CalendarListView/index.tsx
  packages/react-native-calendar-kit/src/components/SingleDayBarItem.tsx
  packages/react-native-calendar-kit/src/types.ts
Due: lint, types

chore: fix lint issue
  packages/react-native-calendar-kit/src/hooks/useLinkedScrollGroup/useLinkedScrollGroup.tsx
Due: lint, types

fix: move onLayout to View #226
  packages/react-native-calendar-kit/src/context/LayoutProvider.tsx
Due: lint, types

chore: release 2.5.3
  packages/react-native-calendar-kit/package.json
Due: types

Path conditions:
  lint: any of: *.{js,ts,tsx}
  types: any of: *.{json,js,ts,tsx}
